@{
    ViewData["Title"] = "Products Page";
    Layout = "_Layout";
}

<!-- product section -->

@model List<Product>

 <!-- product section -->

  <section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Products
        </h2>
      </div>
      <div class="row">
        @foreach (var product in Model)
            {
                string imageSource = "~/Images/" + product.ImageFileName;
                <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                      <img src="@imageSource" asp-append-version="true" alt="">
                      <a href="" class="add_cart_btn">
                        <span>
                          Add To Cart
                        </span>
                      </a>
                    </div>
                    <div class="detail-box">
                      <h5>
                        @product.Name
                      </h5>
                      <div class="product_info">
                        <h5>
                          <span>$</span> @product.Price
                        </h5>
                        <div class="star_container">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="false"></i>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        }
      </div>
    </div>
  </section>

  <!-- end product section -->